.app-image-background-about {
  background-image: linear-gradient(90deg, #171717 0%, rgba(23, 23, 23, 0) 72.11%),
    linear-gradient(180deg, #171717 1%, rgba(23, 23, 23, 0) 25.11%), 
    linear-gradient(360deg, #171717 1%, rgba(23, 23, 23, 0) 25.11%), 
    url("background_about.png");
  background-size: cover;
  background-position: center;
}
