.app-image-background-community {
  background-image: linear-gradient(180deg, #171717 0%, rgba(23, 23, 23, 0.6) 100%), url(background_community.png);
  background-size: cover;
  background-position: bottom center;
  position: relative;
}
