.app-image-background-community {
  background-image: linear-gradient(180deg, #171717 0%, rgba(23, 23, 23, 0.3) 20%),
    url("background_community.webp");
  background-size: cover;
  background-position: center;
  position: relative;
}

.twitter {
  margin-left: 15px;
}

.discord {
  margin-left: 15px;
}

.telegram {
  margin-left: 15px;
}
