.app-background {
  // background-color: #171717;
  background-image: linear-gradient(270deg, #171717 44.06%, rgba(23, 23, 23, 0) 72.11%), url(background_home.png);
    background-size: auto 100%;
    background-position: left;
    background-repeat: no-repeat;
}

.app-image-background-home {
  // background-image: linear-gradient(270deg, #171717 0%, rgba(23, 23, 23, 0) 72.11%),
  //   url("background_home.png");
  // background-size: cover;
  // background-position: center;
}
