.app-background {
  background-color: #171717;
}

.app-image-background-home__grid {
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-image: linear-gradient(270deg, #171717 40%, rgba(23, 23, 23, 0) 75%);
  background-size: auto 100%;
  background-position: left;
  background-repeat: no-repeat;
  position: relative;
}

.app-image-background-home__child {
  background-image: linear-gradient(0deg, #171717 0%, rgba(23, 23, 23, 0) 50%),
    linear-gradient(270deg, #171717 0%, rgba(23, 23, 23, 0) 15%), url("background_home.png");
  position: absolute;
  top: 0;
  left: 0;
  min-width: 50%;
  max-width: 70%;
  height: 100%;
  background-size: cover;
  background-position: 69% center;
  z-index: -1;
}

.scroll-down__button {
  position: absolute !important;
  bottom: 60px;
  right: 160px;
}
.scroll-down__button {
  span {
    font-weight: 700;
    font-size: 16px;
    color: #c0c0c0;
  }
}
.purple-icon__button {
  svg {
    path {
      stroke: #6f5bde;
    }
  }
}
@media (max-width: 1600px) {
  .app-image-background-home__grid {
    background-image: none;
  }
  .app-image-background-home__child {
    background-image: linear-gradient(0deg, #171717 0%, rgba(23, 23, 23, 0.05) 50%),
      linear-gradient(270deg, #171717 0%, rgba(23, 23, 23, 0.05) 50%), url("background_home.png");
    background-position: center center;
  }
}
@media (max-width: 1168px) {
  .app-image-background-home {
    display: none !important;
  }
  .app-image-background-home__child {
    max-width: 100%;
    width: 100%;
  }
  .app-image-background-home__child {
    background-image: linear-gradient(0deg, #171717 0%, rgba(23, 23, 23, 0.4) 50%),
      linear-gradient(270deg, #171717 0%, rgba(23, 23, 23, 0.4) 50%), url("background_home.png");
    background-position: center center;
  }
  .app-image-background-home__grid {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 900px) {
  .app-image-background-home__grid {
    display: flex !important;
    flex-direction: column;
  }
}

.app-mobile-background-home {
  background-image: linear-gradient(0deg, #171717 0%, rgba(23, 23, 23, 0.4) 50%),
      linear-gradient(270deg, #171717 0%, rgba(23, 23, 23, 0.4) 50%), url("background_home.png");
  background-size: cover;
  background-position: center center;
}