.app-background {
  background-color: #171717;
}

.app-image-background-home {
  background-image: linear-gradient(270deg, #171717 0%, rgba(23, 23, 23, 0) 72.11%),
    linear-gradient(360deg, #171717 0%, rgba(23, 23, 23, 0) 22.11%), url("background_home.png");
  background-size: cover;
  background-position: center;
}
