.active {
  color: #6f5bde !important;
  border-bottom: #6f5bde 2px solid !important;
  border-radius: 0 !important;
}

.app-get-started-button {
  border: #6f5bde 2px solid !important;
  border-radius: 15px !important;
}

.app-navbar-container {
  margin-top: 15px !important;
}

.social-parent {
  display: grid;
}
