.active {
  color: #6f5bde !important;
  border-bottom: #6f5bde 2px solid !important;
  border-radius: 0 !important;
}

.app-get-started-button {
  border: #6f5bde 2px solid !important;
  border-radius: 15px !important;
}

.app-navbar-container {
  margin-top: 20px !important;
  grid-column: 1 / span 2;
}

.MuiMenu-list {
  background: rgba(255, 255, 255, 0.25) !important;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37) !important;
  backdrop-filter: blur(5px) !important;
  -webkit-backdrop-filter: blur(5px) !important;
}

.MuiMenu-paper {
  background: rgba(255, 255, 255, 0.25) !important;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37) !important;
  backdrop-filter: blur(5px) !important;
  -webkit-backdrop-filter: blur(5px) !important;
}
