.app-background-roadmap {
  background-color: #171717;
  background-image: 
    linear-gradient(180deg, #171717 0%, rgba(23, 23, 23, 0.5) 25%), 
    linear-gradient(360deg, #171717 0%, rgba(23, 23, 23, 0.5) 25%), 
    url("background_roadmap.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
}
.roadmap__progressbar::before {
  content: "In progress";
  position: absolute;
  left: -60px;
  top: 90px;
  display: block;
  transform: rotate(90deg);
  color: #6f5bde;
  font-family: "Inter";
  font-size: 20px;
}
@media (max-width: 1168px) {
  .app-background-roadmap {
    background-size: cover;
  }
}
.app-background-roadmap-mobile {
  background-color: #171717;
  background-image: 
    linear-gradient(180deg, #171717 0%, rgba(23, 23, 23, 0.5) 25%), 
    linear-gradient(360deg, #171717 0%, rgba(23, 23, 23, 0.5) 25%), 
    url("background_roadmap.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}