.app-background-roadmap {
  background-color: #171717;
  background-image: linear-gradient(180deg, #171717 55%, rgba(23, 23, 23, 0) 72.11%),
    linear-gradient(360deg, #171717 0%, rgba(23, 23, 23, 0) 22.11%), url("background_roadmap.webp");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  min-width: 375px;
  position: relative;
}
.roadmap__progressbar::before {
  content: "In progress";
  position: absolute;
  left: -60px;
  top: 90px;
  display: block;
  transform: rotate(90deg);
  color: #6F5BDE;
  font-family: "Inter";
  font-size: 20px;
}