.app-background-roadmap {
  background-color: #171717;
  background-image: linear-gradient(180deg, #171717 55%, rgba(23, 23, 23, 0) 72.11%),
    linear-gradient(360deg, #171717 0%, rgba(23, 23, 23, 0) 22.11%), url("background_roadmap.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  min-width: 375px;
}
