@import "./home";
@import "./navbar";
@import "./about";
@import "./roadmap";
@import "./team";
@import "./community";
@import "./presale";

@font-face {
  font-family: "Space";
  src: url("SPACE.ttf") format("truetype");
}

body {
  margin: 0;
  background-color: #171717;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  
}
#app-mobile-menu {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../background_menu.jpg);
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 100;
}
#app-mobile-menu.mobileMenuOpen {
  transform: translateX(100vw);
}

$enable-ltr: true;
$enable-rtl: true;
