@import "./home";
@import "./navbar";
@import "./about";
@import "./roadmap";
@import "./team";
@import "./community";

@font-face {
  font-family: "Space";
  src: url("src/fonts/SPACE.ttf") format("truetype");
}

body {
  margin: 0;
  background-color: #171717;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

#app-container.mobileMenuOpen {
  transform: translateX(100vw);
}
#app-mobile-menu {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.80), 
    rgba(0, 0, 0, 0.80)
  ), url(../background_menu.png);
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
}
#app-mobile-menu.mobileMenuOpen {
  transform: translateX(100vw);
}

$enable-ltr: true;
$enable-rtl: true;